<div class="page-header">
  <%= link_to new_underwriter_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Underwriter
  <% end %>
  <h1>Listing underwriters</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Company</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @underwriters) do |underwriter| %>
            <td><%= underwriter.name %></td>
            <td><%= underwriter.email %></td>
            <td><%= underwriter.phone %></td>
            <td><%= underwriter.company %></td>
            <td><%= link_to 'Show', underwriter %></td>
        <td><%= link_to 'Edit', edit_underwriter_path(underwriter) %></td>
        <td><%= link_to 'Destroy', underwriter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
